/*****************************
 * Intégration du responsive 
 *****************************/

/* montserrat-regular */
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 400;
	src: local(""),
		url("../fonts/montserrat-regular.woff2") format("woff2"),
		url("../fonts/montserrat-regular.woff") format("woff");
}

/* montserrat-medium */
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 500;
	src: local(""),
		url("../fonts/montserrat-medium.woff2") format("woff2"),
		url("../fonts/montserrat-medium.woff") format("woff");
}

/* montserrat-bold */
@font-face {
	font-display: swap;
	font-family: "Montserrat";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/montserrat-bold.woff2") format("woff2"),
		url("../fonts/montserrat-bold.woff") format("woff");
}

/* raleway-semibold */
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 600;
	src: local(""),
		url("../fonts/raleway-semibold.woff2") format("woff2"),
		url("../fonts/raleway-semibold.woff") format("woff");
}

/* raleway-bold */
@font-face {
	font-display: swap;
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	src: local(""),
		url("../fonts/raleway-bold.woff2") format("woff2"),
		url("../fonts/raleway-bold.woff") format("woff");
}

/* Styles généraux */
:root {
	--primary-color: #f16822;
	--font-color: #333333;
}

/* Police par défaut : Montserrat Regular */
body {
	font-family: "Montserrat", sans-serif;
	color: var(--font-color);
	font-size: 1.6rem;
	line-height: 1.5;
	background-color: #fff;
	text-align: center;
}

h1,
h2,
h3 {
	font-family: "Raleway";
	font-weight: 700;
	line-height: 1.2;
	margin-bottom: 0.5em;
}

h1 {	
	font-size: 6.4rem;	
	color: var(--primary-color);
}

h2 {
	font-size: 4.8rem;
}

h2:not(.testimonials-title):after {
	content: url(../img/rectangle-after-h2.png);
	display: block;
	padding-bottom: .32em;
}

h3 {
	font-size: 2.4rem;
}

.post-card h3 {
	font-weight: 600;
	color: var(--primary-color);
}

.footer h3 {
	font-weight: 700;
	line-height: 1.2;
	color: var(--primary-color);
	text-transform: uppercase;
}

p {
	padding: 0.5em;
}

/* Components */

.post-card {
	box-shadow: 0px 3px 5px 0px #00000029;
}

/* Layout */
.container {
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 1.5rem;
	padding-right: 1.5rem;
}


@media screen and (min-width: 36em) { /* 36em = 36 * 16 (base navigateur) = 576px */
	.container {
		max-width: 80rem;
	}
}

@media screen and (min-width: 48em) { /* 768px */
	.container {
		max-width: 92rem;
	}
}

@media screen and (min-width: 62em) { /* 992px */
	.container {
		max-width: 106rem;
	}
}

@media screen and (min-width: 75em) { /* 1200px */
	.container {
		max-width: 119rem;
	}
}

@media screen and (min-width: 87em) { /* 1400px */
	.container {
		max-width: 131rem;
	}
}

/* Header */
.main-header {
	position: relative;
}

.main-header .container {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.menu {
	display: flex;
	justify-content: space-between;
}

/* Logo */
.logo {
	width: 22.7rem;
	height: 4.9rem;
	background-image: url(../img/logo.png);
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	margin-top: 3.4rem;
	margin-bottom: 3.2rem;
}
@media (min-resolution: 144dpi) {
	.logo {
		background-image: url(../img/logo@2x.png);
	}
}

/* Navigation */
[hidden] {
	display: block;
	visibility: hidden;
}

.toggle-menu {
	background-color: transparent;
	padding: 1.5rem;
	border: 0;
	color: var(--primary-color);
}

.toggle-menu::before {
	font-family: "FontAwesome";
	font-size: 3.4rem;
	color:var(--primary-color);
	content: "\f0c9";
}

.toggle-menu:hover::before,
.toggle-menu:focus::before {
	/* font-family: "FontAwesome"; */
	font-size: 4rem;
	/* color:var(--primary-color);
	content: "\f0c9"; */
}

.menu {
	position: absolute;
	z-index: 10;
	top: 100%;
	left: 0;
	right: 0;
	background-color: var(--primary);
	transform: translateX(-100%);
	transition: .5s;
	/* transition: transform .5s ease-out, visibility .001s .5s; */
}

.menu:not([hidden]) {
	transform: translateX(0);
	display: flex;
	flex-direction: column;
	font-size: 3.4rem;
	background-color: white;
	text-align: right;
	/* transition: visibility .001s, transform .5s .001s ease-in; */
}

@media screen and (min-width: 48em) {
	.toggle-menu {
		display: none;
	}

	.menu {
		display: flex;
		position: static;
		visibility: visible;
		transform: translateX(0);
	}
}

/* Liens du menu nav */
.menu-link {
	color: var(--font-color);
	font-size: 1.4rem;
	line-height: 1.3;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	margin-top: 3.5rem;
	margin-bottom: 3.5rem;
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-left: 1.5em;
	padding-right: 1.5em;
}

.menu-link:not(.home):hover,
.menu-link:not(.home):focus {
	color: var(--primary-color);
}

.home {
	color: white;
	background-color:var(--primary-color);
	transition: 0.5s;
}

.home-burger {
	color: var(--primary-color);
	background-color: white;
}

.home:hover,
.home:focus {
	color: var(--primary-color);
	background-color: white;
	transition: 0.5s;
}

/* Hero */

.hero {
	display: flex;
	align-items: center;
	background-image: url(../img/slider.jpg);
	background-size: cover;
	background-position: center;
	min-height: 80vh;
}

.hero .container {
	display: flex;
}

@media (min-resolution: 144dpi) {
	.hero {
		background-image: url(../img/slider@2x.jpg);
	}
}

.hero-baseline {
	font-size: 3.2rem;
	line-height: 1;
}

/* Services */

.services {
	padding-top: 17em;
}

.services-baseline {
	font-size: 2.4rem;
}

.services-list.services-list {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	margin-top: 4.9em;
}

@media screen and (min-width: 36em) { /* 576px */
	.services-list.services-list {
		flex-direction: row;
		flex-wrap: wrap;
		justify-content: space-around;
	}

	.service-item {
		flex-basis: 50%;
	}
}

@media screen and (min-width: 62em) { /* 992px */
	.services-list.services-list {
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: space-around;
	}
}


.service-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

.service-item h3 a {
	text-decoration: none;
	color: #333333;
}

.service-item h3 a:hover,
.service-item h3 a:focus {
	color: var(--primary-color) ;
}

.service-img {
	display: grid;
	place-items: center;
	width: 12.5rem;
	height: 12.5rem;
	background-color: #eeeeee;
	border-radius: 50%;
	margin-bottom: 2.4rem;
}


/* What is Ubiquity */
.what-is {
	background-image: url(../img/bokehback.jpg);
	background-size: cover;
	background-position: center;
	margin-top: 17em;
}

.what-is .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding-top: 12.4rem;
}

.what-is-title {
	color: var(--primary-color);
}

.what-is-baseline {
	color: white;
	font-size: 2.4rem;
}

.browser-mockup {
	margin-top: 16rem;
}

/* Latest Posts */

.latest-posts {
	margin-top: 17rem;
}

.latest-posts-baseline {
	font-size: 2.4rem;
}

.latest-posts .container {
	display: grid;
	grid-template-columns: 1fr;
	column-gap: 4em;
}

@media screen and (min-width: 36em) { /* 576px */
	.latest-posts .container {
		grid-template-columns: 1fr 1fr;
	}
}

@media screen and (min-width: 75em) { /* 1200px */
	.latest-posts .container {
		grid-template-columns: 1fr 1fr 1fr;
	}
}

.latest-posts-title,
.latest-posts-title + p {
	grid-column: 1 / -1;
}

.post-card {
	margin-top: 6rem;
	margin-bottom: 6rem;
	padding: 2.5em;

}

.post-card img {
	margin-bottom: 7.4rem;
}

.post-card a {
	text-decoration: none;
	color: var(--primary-color);
}

.post-card a:hover,
.post-card a:focus {
	color: #333333;
	text-decoration: underline;
}

.blog-post-title {
	font-weight: 600;
	font-size: 4rem;
}

/* Fun Facts */

.fun-facts {
	background-image: url(../img/fun-facts.png);
	background-size: cover;
	background-position: center;
	margin-top: 12.3rem;
}

.apply-opacity {
	background-color:rgba(255,255,255,0.8);
}

.fun-facts-title {
	padding-top: 17rem;
}

.fun-facts-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	text-align: center;
}

.fact-number {
	font-size: 6.4rem;
	line-height: 1.2;
	font-weight: 700;
	color: var(--primary-color)

}

.fact-label {
	font-size: 2.4rem;
	line-height: 1.3;
	font-weight: 700;
}


/* Testimonials */

.testimonials {
	margin-top: 20rem;
	background-image: url(../img/rect.jpg);
	background-size: cover;
	background-position: center;
}

.testimonials .container {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 17rem;
	padding-bottom: 23rem;
}

.testimonials .container div {
	text-align: center;
}

@media screen and (min-width: 48em) { /* 768px */
	.testimonials .container {
		flex-direction: row;
		align-items: center;
	}

	.testimonials .container div {
		text-align: left;
	}
}

.testimonials .container {
	display: flex;
	align-items: center;
	padding-top: 17rem;
	padding-bottom: 23rem;
	text-align: left;
}

.testimonial-img {
	width: 22rem;
	height: 22rem;
	border-radius: 50%;
	margin-right: 5rem;
}

.testimonials-title {
	color: white;
	padding: 1rem;
}
	
.testimonial-content {
	font-size: 2.4rem;
	color: white;
}

/* Footer */

.footer {
	background-color:#333333;
}

.footer .container:first-child {
	display: grid;
	grid-template-columns: 1fr;
	align-content: flex-start;
	gap: 2rem;
	text-align: left;
	color: #CCCCCC;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

@media screen and (min-width:36em) { /*576px */
	.footer .container:first-child {
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
	}
}

@media screen and (min-width:62em) { /*992px */
	.footer .container:first-child {
		grid-template-columns: repeat(3, 1fr);
		justify-content: space-between;
	}
}

@media screen and (min-width:75em) { /*1200px */
	.footer .container:first-child {
		grid-template-columns: repeat(4, 1fr);
		justify-content: space-between;
	}
}

.footer h3 {
	padding-bottom: 0.7rem;
	padding-top: 0.7rem;
}

.recent-posts-list li,
.recent-comments-list li {
	font-size: 2rem;
	line-height: 2;
}

.recent-posts-list li:before,
.recent-comments-list li:before {
	/* content: url(../img/rectangle-after-h2.png); */
	font-family: "FontAwesome";
	content: "\f101  ";
}

.tags-list {
	display: flex;
	flex-wrap: wrap;
	max-width: 40rem;
}

.tags-list span {
	margin-right: 0.5em;
	margin-bottom: 0.5em;
	text-transform: uppercase;
	padding: 0.5em 1.2em ;
	background-color: #444444;
}

/* Contact */

.contact-list li {
	display: flex;
	align-items: center;
}

.contact-list p {
	font-size: 2rem;
}

.contact-list a {
	text-decoration: none;
	color: #CCCCCC;
}


/* Footer Number Two */

/* Copyright */
.footer .container:last-child {
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #777777;
	padding-top: 3.4rem;
	padding-bottom: 3.4rem;
	font-weight: 500;
	font-size: 2.4rem;
	line-height: 1.3;
	border-top : 0.1px solid #444444;
	text-align: left;
}

/* Social links */
.social-links {
	display: flex;
}

.social-item + .social-item {
	padding-left: 2.6rem;
}

